.footer {
    top: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    z-index: 2;
    background-color: rgb(39, 39, 39);
    padding: 20px 30px;
}

.footer__toggle {
    position: absolute;
    top: -30px;
    left: 30px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    width: 80px;
    height: 30px;
    cursor: pointer;
    outline: none;
    z-index: -1;
    background-color: rgb(199, 199, 199);
    border: none;
    border-radius: 8px 8px 0 0;
    user-select: none;
}

.fa-arrow-up,
.fa-arrow-down {
    color: rgb(48, 48, 48);
    font-size: 22px;
}

.arrow-down {
    display: none;
}

.arrow-up.active {
    display: none;
}

.arrow-up.active + .arrow-down {
    display: inline;
}

.footer.active {
    bottom: 0;
    top: auto;
    animation: footerappear .7s ease;
}

@keyframes footerappear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* .content-left p {
    font-size: 24px;
    color: rgb(255, 255, 255);
    max-width: 70%;
} */

.content-right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.content-right a:first-child img {
    width: 145px;
    transition: .4s ease;
}

.content-right img:hover:not(.discord-logo) {
    filter: invert(1);
}

.discord-logo {
    width: 200px;
}
@media screen and (max-width: 700px) {
    .footer {
        flex-direction: column;
        row-gap: 25px;
    }

    .content--separator {
        display: none;
    }

    .content-left p {
        max-width: 100%;
        margin: 0 auto;
        text-align: center;
    }
}