.main__header {
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 5px;
    background: linear-gradient(to right,#1299d8, #06dba6);
    background-size: 200% auto;
    background-position: left;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: header-glow 2s linear infinite;
}

@keyframes header-glow {
    to {
        background-position: 200% center;
    }
}

.main__navigation {
    user-select: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 0;
    padding: 3% 0;
    z-index: 1;
}

.main__navigation ul {
    min-width: 260px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 35px
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger__prop {
    height: 4px;
    width: 36px;
    background-color: #fff;
    border-radius: 5px;
    transition: .5s;
}

.hamburger__prop ~ .hamburger__prop {
    margin-top: 9px;
}

.hamburger.active .prop1 {
    transform: rotate(-45deg) translate(-19px, 13px);
}

.hamburger.active .prop2 {
    opacity: 0;
} 

.hamburger.active .prop3 {
    transform: rotate(45deg) translate(-5px, 0);
}

.main__navigation .list__item {
    list-style: none;
    cursor: pointer;
    border-radius: 23px;
    height: 54px;
}

.main__navigation .list__item a {
    display: inline-block;
    color: #fff;
    font-size: 17px;
    width: 108px;
    padding: 12px 0;
    text-align: center;
    transition: 0.5s;
    border: 2px dashed #fff;
    border-radius: 23px;
    position: relative;
    overflow: hidden;
    outline: none;
}

.list__item a:hover {
    color: #000;
    border: 2px solid transparent;
}

.home {
    width: 85px;
    background-color: #fff;
    color: #000 !important;
}

.list__item:nth-child(3) a::before,
.list__item:nth-child(4) a::before {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 100%;
    z-index: -1;
    background-color: #fff;
    transition: 1s;
}

.list__item:nth-child(3):hover a::before,
.list__item:nth-child(4):hover a::before {
    width: 100%;
}

.list__item:nth-child(2) a::after,
.list__item:nth-child(3) a::after {
    content: "";
    position: absolute;
    height: 150%;
    width: 0;
    border-radius: 23px;
    background-color: rgb(255, 255, 255);
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    z-index: -1;
    transition: 0.65s;
}

.list__item:nth-child(3) a::after {
    transition: 1s;
}

.list__item:hover a::after {
    width: 100%;
}

.list__item:nth-child(4) a::before {
    transition: .65s;
}

.login {
    margin-left: 50px;
}

.login a:link {
    border: 2px solid #fff;
    width: 130px;
    letter-spacing: 3px;
}

.login a:hover {
    border: 2px solid transparent;
}

.login a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 0;
    background-color: #fff;
    z-index: -1;
    transition: 0.6s;
}

.login a:hover::before {
    height: 100%;
}

@media screen and (max-width: 700px) {
    .main__navigation {
        padding: 40px 0;
    }

    .main__navigation ul {
        position: absolute;
        flex-direction: column;
        right: -100vw;
        top: 0;
        background-color: rgb(32, 32, 32);
        height: 60vh;
        width: 100vw;
        justify-content: space-around;
    }

    ul.active {
        right: 0;
        display: flex;
    }

    .main__navigation .list__item {
        width: 50%;
    }

    .main__navigation .list__item a {
        border: none;
        width: 100%;
        padding: 20px 0;
        border-radius: 0;
        transform: translateX(50px);
        transition: 0s;
    }

    ul.active a {
        opacity: 0;
        animation: linkappear 0.8s ease var(--link-delay) forwards;
    }

    .home {
        box-shadow: -10px 10px 15px 0 rgb(0, 0, 0);
        border-radius: 15px !important;
    }

    .login {
        margin: 0;
    }

    .hamburger {
        display: block;
        z-index: 1;
    }
}