*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

html::-webkit-scrollbar {
    width: 0.8vw;
}
html::-webkit-scrollbar-thumb {
    background-color: rgb(49, 49, 49);
    border-radius: 10px;
}
html::-webkit-scrollbar-track {
    background-color: rgb(167, 167, 167);
}

.root {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    position: relative;
    background-image: url('../Pictures/galaxy-bg.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    user-select: none;
}

.root::after {
    content: '';
    position: absolute;
    top: 50vh;
    right: 0;
    width: 200px;
    height: 200px;
    background: rgba(255, 255, 255, 0.16);
    backdrop-filter: blur(20px);
    -webkit-clip-path: ellipse(37% 42% at 55% 52%);
    clip-path: ellipse(37% 42% at 55% 52%);
    z-index: -1;
    
}

.main__header {
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 5px;
    background: linear-gradient(to right,#00aeff, #00ffbf);
    background-size: 200%;
    background-position: left;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: header-glow 2s linear infinite;
}

@keyframes header-glow {
    to {
        background-position: 200% center;
    }
}

.main__navigation {
    user-select: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 0;
    padding: 3% 0;
    z-index: 1;
}

.main__navigation ul {
    min-width: 260px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 35px
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger__prop {
    height: 4px;
    width: 36px;
    background-color: #fff;
    border-radius: 5px;
    transition: .5s;
}

.hamburger__prop ~ .hamburger__prop {
    margin-top: 9px;
}

.hamburger.active .prop1 {
    transform: rotate(-45deg) translate(-19px, 13px);
}

.hamburger.active .prop2 {
    opacity: 0;
} 

.hamburger.active .prop3 {
    transform: rotate(45deg) translate(-5px, 0);
}

.main__navigation .list__item {
    list-style: none;
    cursor: pointer;
    border-radius: 23px;
    height: 55px;
}

.main__navigation .list__item a {
    display: inline-block;
    color: #fff;
    font-size: 18px;
    width: 108px;
    padding: 15px 0;
    text-align: center;
    transition: 0.5s;
    border: 2px dashed #fff;
    border-radius: 23px;
    position: relative;
    overflow: hidden;
    outline: none;
}

.list__item a:hover {
    color: #000;
    border: 2px solid transparent;
}

.home {
    width: 85px;
    background-color: #fff;
    color: #000 !important;
}

.list__item:nth-child(3) a::before,
.list__item:nth-child(4) a::before {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 100%;
    z-index: -1;
    background-color: #fff;
    transition: 1s;
}

.list__item:nth-child(3):hover a::before,
.list__item:nth-child(4):hover a::before {
    width: 100%;
}

.list__item:nth-child(2) a::after,
.list__item:nth-child(3) a::after {
    content: "";
    position: absolute;
    height: 150%;
    width: 0;
    border-radius: 23px;
    background-color: rgb(255, 255, 255);
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    z-index: -1;
    transition: 0.65s;
}

.list__item:nth-child(3) a::after {
    transition: 1s;
}

.list__item:hover a::after {
    width: 100%;
}

.list__item:nth-child(4) a::before {
    transition: .65s;
}

.login {
    margin-left: 50px;
}

.login a:link {
    border: 2px solid #fff;
    width: 130px;
    letter-spacing: 3px;
}

.login a:hover {
    border: 2px solid transparent;
}

.login a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 0;
    background-color: #fff;
    z-index: -1;
    transition: 0.6s;
}

.login a:hover::before {
    height: 100%;
}


@keyframes linkappear {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.cards-container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-wrapper {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 20px;
}

.card-project {
    background: rgba(255, 255, 255, 0.16);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.2px);
    -webkit-backdrop-filter: blur(6.2px);
    border: 1px solid rgba(255, 255, 255, 0.404);
    padding: 20px;
    position: relative;
    transition: .3s;
}

.card-project:hover {
    background: rgba(255, 255, 255, 0.295);
    backdrop-filter: blur(0);
}

.card-project__header {
    text-align: center;
    color: rgb(0, 0, 0);
    margin-bottom: 18px;
    background: rgba(255, 255, 255, 0.418);
    border: 1px solid rgba(255, 255, 255, 0.568);
    border-radius: 10px;
    padding: 15px 0
}

.card-project__img {
    max-width: 100%;
    min-height: 250px;
    border-radius: 13px;
    object-fit: cover;
    filter: brightness(1.2);
}

.footer {
    top: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    z-index: 2;
    background-color: rgb(39, 39, 39);
    padding: 20px 30px;
}

.footer__toggle {
    position: absolute;
    top: -30px;
    left: 30px;
    font-size: 24px;
    color: rgb(0, 0, 0);
    width: 80px;
    height: 30px;
    cursor: pointer;
    outline: none;
    z-index: -1;
    background-color: rgb(199, 199, 199);
    border: none;
    border-radius: 8px 8px 0 0;
    user-select: none;
}

.footer.active {
    bottom: 0;
    top: auto;
    animation: footerappear 1s ease;
}

@keyframes footerappear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.content-left p {
    font-size: 24px;
    color: rgb(255, 255, 255);
    max-width: 70%;
}

.content--separator {
    width: 3px;
    height: 100px;
    background-color: #fff;
}

.content-right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.content-right a:first-child img {
    width: 145px;
    transition: .4s ease;
}

.content-right img:hover:not(.discord-logo) {
    filter: invert(1);
}

.discord-logo {
    width: 200px;
}

@media screen and (max-width: 700px) {
    .main__navigation {
        padding: 40px 0;
    }

    .main__navigation ul {
        position: absolute;
        flex-direction: column;
        right: -100vw;
        top: 0;
        background-color: rgb(32, 32, 32);
        height: 60vh;
        width: 100vw;
        justify-content: space-around;
        transition: .8s ease;
    }

    ul.active {
        right: 0;
        display: flex;
    }

    .main__navigation .list__item {
        width: 50%;
    }

    .main__navigation .list__item a {
        border: none;
        width: 100%;
        padding: 20px 0;
        border-radius: 0;
        transition: .5s;
    }
    
    ul.active a {
        animation: linkappear .8s ease var(--link-delay) forwards;
        transform: translateX(50px);
        opacity: 0;
    }

    .home {
        box-shadow: 0 0 10px 0 #fff;
        border-radius: 10px !important;
    }

    .login {
        margin: 0;
    }

    .hamburger {
        display: block;
        z-index: 1;
    }
    .footer {
        flex-direction: column;
        row-gap: 25px;
    }

    .content--separator {
        display: none;
    }

    .content-left p {
        max-width: 90%;
        margin: 0 auto;
        text-align: center;
    }
}