@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: #222222;
  background-image: linear-gradient(45deg, #1f1c2c, #928dab);
}

nav {
  position: relative;
}

.nav .inside-logo {
  width: 10%;
  height: 10%;
  max-width: 300px;
  min-width: 150px;
}

.nav {
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: sticky;
  top: 0;
  padding-bottom: 3%;
  
}

.nav ul {
  display: none;
  gap: 35px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-self: flex-start;
  margin: 2%;
  min-width: 260px;
}

.nav .basic-btn {
  list-style: none;
  cursor: pointer;
  color: #fff;
  height: 35px;
}

.nav .basic-btn a {
  display: inline-block;
  color: #fff;
  width: 108px;
  padding: 12px 1px;
  text-align: center;
  transition: 0.5s;
  border: 2px dashed white;
  text-decoration: none;
  border-radius: 23px;
  position: relative;
  overflow: hidden;
  outline: none;
  font-size: 17px;
}

.nav .basic-btn a:hover {
  color: #000;
  border: 2px solid rgba(255, 255, 255, 0);
}

#home {
  width: 85px;
  background-color: #fff;
  color: #000;
}

.basic-btn:nth-child(3) a::before {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 100%;
  z-index: -1;
  background-color: #fff;
  transition: 1s;
}

.basic-btn:nth-child(3):hover a::before {
  width: 100%;
}

.basic-btn:nth-child(2) a::after,
.basic-btn:nth-child(3) a::after {
  content: "";
  position: absolute;
  height: 150%;
  width: 0;
  border-radius: 23px;
  background-color: rgb(255, 255, 255);
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: -1;
  transition: 0.65s;
}

.basic-btn:nth-child(3) a::after {
  transition: 1s;
}

.basic-btn:hover a::after {
  width: 100%;
}

.basic-btn:nth-child(4) a::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  background-color: #fff;
  height: 100%;
  right: 0;
  transition: 0.6s;
  z-index: -1;
}

.basic-btn:nth-child(4):hover a::after {
  width: 100%;
}

.login {
  list-style: none;
  cursor: pointer;
  margin: 19px 28px 0px 45px;
  transition: 0.5s;
  height: 55px;
}

.login a {
  position: relative;
  border: 2px solid #fff;
  border-radius: 25px;
  color: #fff;
  display: inline-block;
  padding: 12px 28px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 3px;
  border-radius: 25px;
  transition: 0.5s;
  overflow: hidden;
  outline: none;
  text-decoration: none;
}

.login a:hover {
  color: #000;
  border: 2px solid rgba(255, 255, 255, 0);
}

.login a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 0;
  background-color: #fff;
  z-index: -1;
  transition: 0.6s;
}

.login a:hover::before {
  height: 100%;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
}


.wrapper-form {
  width: 30%;
  max-width: 420px;
  min-width: 400px;
  animation: Dropdown 3s ease-in-out;  
}

@keyframes Dropdown {
  0% {
    transform: translateY(-500px);
  }

  50% {
      transform: translateY(0);
  }

  75% {
    transform: translateY(-30px);
  }

  100% {
    transform: translateY(0); 
  }
}

.input-form {
  padding: 15px 0 8% 0;
  background-color: #222;
  width: 100%;
  display: flex;
  box-shadow: -18px -10px 7px 5px rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  border-radius: 18px
}

.input-form h1 {
  width: 100%;
  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 30px #fff;
  font-size: 30px;
  letter-spacing: 7px;
  font-weight: 700;
}

.wrapper-password {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.wrapper-user {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.input {
  width: 55%;
  
  margin: 30px auto;
  font-size: 35px;
  border: 2px solid #9e8787;
  background-color: transparent;
  color: #fff;
  padding-left: 5px;
  padding-right: 5px;
  outline: none;
  text-align: center;
  border-radius: 25px;
  transition: .5s;
}

#username:valid,
#password:valid {
  border: 2px solid rgb(72, 255, 0);
  width: 65%;
  transition: 0.3s;
}

.input:focus {
  width: 65%;
  border: 2px solid #fff;
}

#password.focused {
  width: 65%;
}

.touched {
  border: 2px solid rgb(255,0,0);
}

.input-form #username:valid ~ .label {
  top: 15px;
  font-size: 23px;
}

.input-form #username:focus ~ .label,
.label.lift {
  top: 15px;
  font-size: 23px;
}

.input-form #password:focus ~ .label2,
.label2.change {
  top: 15px;
  font-size: 22px;
}

.input-form #password:valid ~ .label2
 {
  top: 15px;
  font-size: 22px;
}

.eye-wrapper {
  display: none;
  background: url(https://user-images.githubusercontent.com/87615863/138296095-6000b6c7-8800-44c0-ad07-3b71851d9df7.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 50%;
  outline: none;
  border: none;
  transform: translateY(-50%);
  right: 75px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.visible {
  display: inline-block;
}

.eye-wrapper.icon {
  background: url(https://user-images.githubusercontent.com/87615863/138296481-7be18e68-6e84-43a4-a95e-ee2f440884c9.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.label,
.label2 {
  position: absolute;
  cursor: text;
  pointer-events: none;
  color: #fff;
  transition: 0.45s ease;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 2px;
}

.button {
  width: 170px;
  height: 50px;
  margin: 33px auto;
  font-size: 20px;
  font-weight: 500;
  outline: none;
  letter-spacing: 3px;
  border: 2px solid rgb(68, 238, 0);
  background: #222222;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

.button:hover {
  background: rgba(72, 255, 0, 0.452);
  border: 2px solid rgb(68, 238, 0);
}

#forgot {
  text-decoration: none;
  color: rgb(223, 217, 217);
  transition: 0.5s ease-out;
  font-size: 17px;
  outline: none;
  font-weight: 500;
  position: absolute;
  bottom: 0;
  right: 0;
  padding-bottom: 10px;
  padding-right: 10px;
}

#forgot:hover {
  text-decoration: underline;
  color: #fff;
  text-shadow: 0 0 5px #fff;
}

#register:hover {
  text-decoration: underline;
  text-shadow: 0 0 5px rgb(21, 255, 0);
  color:rgb(21, 255, 0);
}

#register {
  outline: none;
  text-decoration: none;
  color: rgb(88, 219, 12);
  transition: 0.5s ease-out;
  font-size: 17px;
  font-weight: 500;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 10px;
  padding-bottom: 10px;
}

.select-off {
   user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.fa-user,
.fa-lock {
  font-size: 20px;
  margin-right: 5px;
}

@media screen and (max-width: 1100px) {
  .wrapper-form {
    width: 70%
  }
}