@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('../components/header.css');
@import url('../components/footer.css');
@import url(../components/Theme.css);

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html::-webkit-scrollbar {
    width: 1vw;
}
html::-webkit-scrollbar-thumb {
    background-color: rgb(49, 49, 49);
    border-radius: 10px;
}
html::-webkit-scrollbar-track {
    background-color: rgb(167, 167, 167);
}

body {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background-color: var(--bg);
    transition: background-color 500ms ease;
    overflow-x: hidden;
}

body::before,
body::after {
    content: '';
    position: fixed;
    width: 150px;
    height: 150px;
    -webkit-clip-path: circle(49.4% at 50% 51%);
    clip-path: circle(49.4% at 50% 51%);
    background-color: var(--ball);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border-radius: 10px;
    animation: bouncing 10s infinite alternate ease;
    z-index: -1;
}

@keyframes bouncing {
    33% {
        transform: translateY(30vh);
    }
    66% {
        transform: translateY(-20vh);
    }
    100% {
        transform: translateY(20vh);
    }
    
}

body::before {
    bottom: 20vh;
    left: 2%;
    animation: ballOriginate 1.5s 1s forwards, bouncing 10s 2.5s infinite alternate ease-in;
    transform: scale(0);
    
}

@keyframes ballOriginate {
    to {
        transform: scale(1);
    }
}

body::after {
    top: 20vh;
    right: 2%;
    animation: bouncing 10s infinite alternate ease;
}

.container-cards {
    margin: 0 auto;
    width: min(90%, 1500px);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
}

.container-cards > a {
    text-decoration: none;
}

.portfolio-card {
    background-color: var(--card-portfolio);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6.2px);
    border: 1px solid rgba(255, 255, 255, 0.404);
    padding: 20px;
    transition: .23s, background-color 300ms;
    cursor: pointer;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.portfolio-card:hover {
    background-color: var(--card-portfolio-active);
    box-shadow: 0 20px 30px var(--portfolio-shadow);
    backdrop-filter: blur(0);
}

.portfolio-card__header {
    text-align: center;
    margin-bottom: 18px;
    font-size: clamp(2.3rem, 2vw, 3rem);
    background: rgba(255, 255, 255, 0.2);
    color: var(--typography_header);
    border: 1px solid rgba(255, 255, 255, 0.568);
    border-radius: 10px;
    padding: 15px 0;
    line-height: 1.3;
    transition: color 300ms;
}

.status-info {
    padding: 20px 5px;
    background: rgba(255, 255, 255, 0.2);
    margin-bottom: 18px;
    border-radius: 7px;
}

.status-info__title {
    font-size: clamp(2rem, 2vw, 3rem);
    text-align: center;
    line-height: 1.4;
    letter-spacing: 2px;
    color: #fff;
}

.portfolio-card__img {
    max-width: 100%;
    height: 100%;
    border-radius: 13px;
    object-fit: cover;
    aspect-ratio: 16 / 9;
}

.fa-sync-alt,
.fa-check {
    margin-left: 15px;
    color: rgb(3, 238, 54);
    font-size: 35px;
}

.fa-sync-alt {
    color: yellow;
}