@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-box {
    width: min(90%, 800px);
    min-width: 270px;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: -41px -41px 90px #929292,
                41px 41px 100px rgb(224, 224, 224);
    padding: 30px 20px;
}

.card__title {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

.card__description {
    text-align: center;
    color: #444;
    font-size: 20px;
    font-weight: 700;
    margin: 10px 0 30px 0;
}

.card__input {
    display: block;
    margin: 0 auto 0 auto;
    border-radius: 12px;
    border: none;
    outline: none;
    min-height: 50px;
    width: min(90%, 400px);
    box-shadow: inset 0 5px 10px rgba(0, 0, 0, .35);
    text-align: center;
    font-size: 28px;
    transition: box-shadow .3s ease;
}

.card__input:focus {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, .35);
    border: 2px solid #444;
}
.card__input:invalid {
    border-color: rgba(197, 17, 17, 0.836);
}

.card__input:valid {
    border-color: rgb(28, 148, 74);
}

.card__btn {
    display: block;
    width: min(90%, 300px);
    padding: 20px 5px;
    margin: 40px auto 0 auto;
    cursor: pointer;
    background-color: rgb(90, 90, 90);
    border: none;
    border-radius: 10px;
    font-size: 23px;
    font-weight: 500;
    color: #fff;
    transition: .5s
}

.card__btn:hover,
.card__btn:focus {
    transform: translateY(-10px) scaleX(1.05);
    box-shadow: 0 15px 30px -5px #000
}