@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url('../header.css');

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

.root {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: rgb(61, 61, 61);
}

.main__forms-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 90px;
  position: relative;
}

.select-off {
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.form--login {
  width: 90%;
  max-width: 500px;
  min-width: 300px;
  animation: loginappear 2.2s ease;
  animation-iteration-count: 1;
  padding: 15px 0 10px 0;
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 0 120px -35px rgb(173, 173, 173);
  border-radius: 20px;
}

.login-content--hide {
  opacity: 0;
  animation: contenthide 1.2s ease 1.6s forwards;
  animation-iteration-count: 1;
}

.login-content--hide.back {
  animation: ShowReverse 1.2s ease 1.6s forwards;
}

@keyframes ShowReverse {
  to {
    opacity: 1;
  }
}

@keyframes contenthide {
  to {
    opacity: 1;
  }
}

.form--login.hide {
  animation: loginhide 2s ease forwards;
  position: absolute;
  top: 0;
}

.form--login.back {
  opacity: 1;
}

@keyframes loginhide {
  to {
    transform: translateX(100vw);
  }
}

@keyframes loginappear {
  0% {
    transform: translateY(100vh);
    min-width: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  40% {
    transform: translate(0);
    min-width: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  50% {
    border-radius: 15px;
  }
  80% {
    width: 90%;
  }
  100% {
    height: 470px;
  }
} 

@keyframes hidecomponents {
  from {
    display: none;
  }
}

.form--login h1 {
  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 10px rgb(160, 160, 160);
  font-size: 33px;
  letter-spacing: 7px;
  animation: hidecomponents 5s ease;
}

.user-data--user,
.user-data--password {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 25px 0;
}

.login__input {
  width: 65%;
  font-size: 35px;
  border: 2px solid #9e8787;
  background-color: transparent;
  color: #fff;
  padding: 0 5px;
  outline: none;
  text-align: center;
  border-radius: 25px;
  transition: .5s;
}

.login__input:focus {
  width: 70%;
  border: 2px solid #fff;
}

.user-input:focus + .user-label,
.password-input:focus + .password-label,
.user-label.lift, .password-label.change {
  top: 10px;
  font-size: 24px;
}

.user-input:valid ~ .user-label,
.password-input:valid ~ .password-label {
  top: 10px;
  font-size: 24px;
}

.password-input.focused {
  width: 65%;
}

.password-input.touched,
.user-input.touched {
  border: 2px solid rgb(255,0,0);
}

.login__input:valid {
  border: 2px solid rgb(72, 255, 0);
  width: 65%;
  transition: 0.3s;
}

.password-toggle {
  display: none;
  position: absolute;
  top: 50%;
  right: 5px;
  outline: none;
  border: none;
  height: 45px;
  aspect-ratio: 1 / 1;
  transform: translateY(-50%);
  cursor: pointer;
  background: transparent;
}

.password-toggle.visible {
  display: inline-block;
}

.password-toggle .eye.hidden {
  display: none;
}

.password-toggle.active .eye.hidden {
  display: inline-block;
}

.password-toggle.active .eye {
  display: none;
}

.user-label,
.password-label {
  position: absolute;
  pointer-events: none;
  color: #fff;
  transition: 0.45s ease;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 2px;
  font-size: 20px;
  white-space: nowrap;
}

.fa-user,
.fa-lock {
  font-size: 20px;
  margin-right: 5px;
}

.login__fill-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

.login__button--submit {
  width: 180px;
  height: 50px;
  margin-bottom: 35px; 
  font-size: 20px;
  outline: none;
  letter-spacing: 2px;
  background: #5c5c5c;
  border: none;
  color: #fff;
  border-radius: 22px;
  transition: 0.4s ease;
  cursor: pointer;
}

.login__button--submit:hover {
  background-color: #222;
  transform: scale(.93);
  text-shadow: 0 0 10px #fff;
}

.login__other-options {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
}

.login-method {
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: 0.2s ease;
  font-size: 18px;
}

.login-method:hover {
  color: rgba(255, 255, 255, 0.678);
}

@keyframes linkappear {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.form--register {
  width: min(90%, 550px);
  min-width: 300px;
  min-height: 550px;
  background-color: rgba(180, 179, 179, 0.425);
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  transform: translateY(100vh);
  transition: .5s;
}

.form--register.active {
  animation: registerappear 1.8s ease-in-out 1s forwards;
}

@keyframes registerappear {
  to {
    transform: translateY(0);
    display: flex;
  }
}

.input-container {
  width: 50%;
  position: relative;
}
.main__input-field {
  border: none;
  border-bottom: 3px solid rgb(167, 167, 167);
  box-shadow: inset 0 4px 2px rgba(180, 179, 179, 0.425);
  outline: none;
  padding: 0 10px;
  width: 100%;
  height: 45px;
  font-size: 26px;
  background-color: #222;
  color: #fff;
  text-align: center;
  transition: box-shadow .4s ease;
}

.main__input-field:focus {
  box-shadow: none;
}

.main__input-idicator {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 3px;
  background-color: rgb(0, 183, 255);
  transition: .4s ease;
}

.main__input-field:focus + .main__input-idicator {
  width: 100%;
}

.main__input-field:invalid + .main__input-idicator  {
  background-color: red;
}

.input__date {
  width: 40%;
  min-width: 200px;
  height: 40px;
  padding: 10px;
  outline: none;
  border: none;
  background-color: rgb(212, 212, 212);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 18px;
  border-radius: 20px;
}

.input__date::-webkit-calendar-picker-indicator {
  cursor: pointer
}

.register__gender-field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.radio-field {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background-color: #222;
  border-radius: 50%;
  vertical-align: middle;
  margin: 0 3px 5px 0;
  outline: none;
  position: relative;
}

.radio-field:checked::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 12px;
  height: 12px;
  background-color: rgb(0, 183, 255);
}

.radio-caption {
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

.submit-section {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register__submit-button {
  width: 170px;
  height: 50px;
  background-color: #222;
  color: #fff;
  font-size: 20px;
  letter-spacing: 2px;
  border: 2px solid #222;
  outline: none;
  box-shadow: 0 0 10px 0 #000;
  cursor: pointer;
  border-radius: 10px;
  transition: .2s;
}

.register__submit-button:active {
  transform: scale(.9);
}

.register__btn--back {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  border-bottom: 2px solid rgb(184, 22, 22);
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
}