@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url('../components/header.css');
@import url('../components/footer.css');
@import url(../components/Theme.css);

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
  background-color: var(--bg-grey);
  transition: background-color 500ms ease;
  font-family: "Poppins", sans-serif;
}

.container-forms {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}


.form-login {
  width: 90%;
  max-width: 500px;
  min-width: 300px;
  animation: loginAppear 2.2s ease;
  padding: 15px 0 10px 0;
  background-color: var(--card-bg);
  box-shadow: 0 0 120px -35px var(--bx-shadow);
  border-radius: 20px;
  outline: 2px solid var(--typography_header);
  transition: transform 2s;
}

.form-login.hide {
  transform: translateX(100vw);
}

.form-login.back {
  transform: translateX(0);
}

@keyframes loginAppear {
  0% {
    transform: translateY(100vh);
    min-width: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  40% {
    transform: translate(0);
    min-width: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  50% {
    border-radius: 15px;
  }
  80% {
    width: 90%;
  }
  100% {
    height: 480px;
  }
} 

.form-content {
  opacity: 0;
  animation: contentHide 1.2s ease 1.8s forwards;
}

@keyframes contentHide {
  to {
    opacity: 1;
  }
}

.form-content__title {
  text-align: center;
  font-weight: 600;
  color: var(--typography_header);
  font-size: 33px;
  letter-spacing: 3px;
}

.form-content__user,
.form-content__password {
  margin-top: 20px;
  position: relative;
  padding: 25px 0;
}

.form-login__input {
  margin: 0 auto;
  display: block;
  width: 75%;
  max-width: 330px;
  font-size: 35px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  border: 2px solid #9e8787;
  background-color: transparent;
  color: var(--typography_header);
  padding: 0 5px;
  text-align: center;
  border-radius: 25px;
  transition: .5s;
  min-height: 60px;
  outline: none;
}

.form-login__input:focus {
  width: 90%;
  border: 2px solid var(--typography_header);
}

.user-input:focus + .user-label,
.password-input:focus + .password-label,
.user-label.lift, .password-label.change {
  top: 10px;
  font-size: 24px;
}

.form-login__input:valid {
  border: 2px solid rgb(72, 255, 0);
  transition: 0.3s;
}

.form-login__input:focus:invalid {
  border: 2px solid rgb(206, 9, 9);
}

.password-toggle {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
  border: none;
  height: 45px;
  width: 45px;
  cursor: pointer;
  background: transparent;
}

.password-toggle.visible {
  display: inline-block;
}

.password-toggle .eye.hidden {
  display: none;
}

.password-toggle.active .eye.hidden {
  display: inline-block;
}

.password-toggle.active .eye {
  display: none;
}

.user-label,
.password-label {
  position: absolute;
  pointer-events: none;
  color: var(--typography_header);
  transition: 0.45s ease;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  white-space: nowrap;
  font-weight: 500;
  letter-spacing: 1px;
}

.fa-user,
.fa-lock {
  font-size: 20px;
  margin-right: 5px;
}

.form-login__fill-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

.form-login__submit {
  padding: .8rem 2.5rem;
  margin-bottom: 35px; 
  font-size: 21px;
  background: rgba(0, 0, 0, 0.61);
  border: none;
  color: #fff;
  border-radius: 1rem;
  transition: 0.4s ease, outline 0s;
  cursor: pointer;
  letter-spacing: 2px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.form-login__submit:focus {
  outline: 2px solid var(--typography_header);
}

.form-login__submit:hover {
  background-color: #222;
  transform: scale(.93);
  text-shadow: 0 0 13px #fff;
  outline: 2px solid var(--typography_header);
}

.form-other {
  width: 90%;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  white-space: nowrap;
}

.form-other__option {
  text-decoration: none;
  color: var(--typography_header);
  transition: 200ms ease-in;
  font-size: 19px;
  font-weight: 500;
}

.register-option {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: 'Poppins';
}

.form-other__option:hover {
  color: var(--typography_header);
  transform: scale(1.05);
}

.form-register {
  width: min(90%, 550px);
  min-width: 300px;
  min-height: 550px;
  background-color: var(--dark-grey);
  box-shadow: 0 0 125px -35px var(--bx-shadow);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transform: translateY(100vh);
  outline: 2px solid var(--typography_header);
  transition: transform 2s ease;
}

.form-register.active {
  transform: translateY(-90%);
}

.form-register__title {
  color: #fff;
  letter-spacing: 1px;
}

.register-input-con {
  width: min(80%, 400px);
  position: relative;
}

.register-input-con__input {
  font-family: 'Poppins', sans-serif;
  border: none;
  border-bottom: 3px solid var(--indicator);
  box-shadow: inset 0 3px 0 rgb(36, 36, 36);
  padding: 0 10px;
  width: 100%;
  min-height: 45px;
  font-size: 26px;
  background-color: rgb(17, 17, 17);
  color: #fff;
  text-align: center;
  transition: box-shadow .4s ease;
  border-radius: 5px 5px 2px 2px;
  outline: none;
}

.register-input-con__input::placeholder {
  color: #fff;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 600;
}

.register-input-con__input:focus {
  box-shadow: none;
}

.register-input-con__idicator {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 3px;
  background-color: rgb(0, 183, 255);
  transition: width 400ms ease;
  border-radius: 0 0 2px 2px;
}

.register-input-con__input:focus + .register-input-con__idicator,
.register-input-con__input:valid + .register-input-con__idicator {
  width: 100%;
}

.register-input-con__input:invalid + .register-input-con__idicator  {
  background-color: #f00;
}

.form-register__date {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  width: min(65%, 400px);
  min-width: 200px;
  padding: 10px;
  border: none;
  background-color: var(--typography_header);
  color: var(--card);
  text-transform: uppercase;
  font-size: 20px;
  border-radius: 1rem;
  text-align: center;
}

.gender-choice__input {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  position: relative;
  vertical-align: middle;
  margin-bottom: 6px;
}

.gender-choice__input:checked::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 12px;
  height: 12px;
  background-color: rgb(0, 183, 255);
}

.gender-choice__caption {
  color: var(--typography_header);
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  margin-right: 20px;
  margin-left: 5px;
}

.submit-section {
  width: 100%;
  position: relative;
}

.register__submit-button {
  display: block;
  margin: 0 auto;
  padding: .6rem 2rem;
  background-color: rgb(26, 26, 26);
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 22px;
  letter-spacing: 2px;
  border: 2px solid rgb(0, 0, 0);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
  border-radius: 10px;
  transition: transform 200ms;
}

.register__submit-button:active {
  transform: scale(.9);
}

.register__btn--back {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  border: none;
  background-color: transparent;
  font-family: 'Poppins';
  border-bottom: 2px solid var(--typography_header);
  text-transform: uppercase;
  cursor: pointer;
  color: var(--typography_header);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
}