.footer {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    background-color: var(--footer-clr);
    padding: 1rem;
    border-top: 2px solid var(--darker-white);
    margin-top: 2rem;
}

.footer > * {
    flex-grow: 1;
}

.project-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
}

.project-info__title,
.socials__title {
    color: var(--typography_header);
    text-align: center;
    font-size: 2rem;
}

.info-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.info-cards > a {
    flex-grow: 1;
    color: initial;
    text-decoration: none;
}

.card-project-info {
    background-color: var(--card);
    border: 2px solid var(--darker-white);
    padding: 0.6rem;
    border-radius: 0.4rem;
    transition: transform 150ms ease-in, filter 200ms;
}

.card-project-info:hover {
    transform: scale(1.02);
    filter: invert(0.05);
}

.card-project-info__title {
    text-align: center;
    color: var(--info-header);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.card-project-info__title > i {
    font-size: 2.5rem;
    color: var(--info-header);
}

.socials__links {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.socials__links > * {
    border: 2px solid var(--darker-white);
    border-radius: 0.4rem;
    padding: 0.4rem 0.8rem;
    transition: background-color 150ms;
    display: flex;
}

.socials__links > *:hover {
    background-color: var(--darker-white);
}

.socials__img_tipply {
    min-width: 140px;
    fill: rgb(39, 190, 59);
}

.socials__img_discord {
    max-width: 200px;
}