.modal {
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translate(-50%, -150%);
    padding: 1rem 2rem;
    background-color: #222;
    border: 2px solid var(--darker-white);
    color: #fff;
    font-weight: 600;
    font-size: 1.4rem;
    border-radius: .6rem;
    transition: 200ms;
    cursor: pointer;
    animation: modalShow 500ms ease-in-out forwards;
    z-index: 2;
    text-align: center;
}

@keyframes modalShow {
    to {
        transform: translate(-50%, 0);
    }
}

.modal > h2 i {
    margin-left: .4rem;
}

.modal > p {
    color: rgb(245, 26, 26);
}