.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1.4rem;
    padding: 3rem 1.5rem;
    position: relative;
}

.navigation__logo {
    height: 150px;
    animation: bouncing 1.65s ease-in alternate infinite;
    fill: var(--typography_header);
    transition: fill 700ms;
}

@keyframes bouncing {
    to {
        transform: translateY(-15px);
    }
}

.nav-toggle-btn {
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    height: 65px;
    width: 65px;
    transition: background-color 150ms;
    border: 2px solid var(--darker-white)
}

.nav-toggle-btn:hover {
    background-color: var(--nav-btn);
}

.nav-toggle-btn > span {
    font-size: 2.5rem;
    color: var(--typography_header);
}

.nav-toggle-btn__cross-icon {
    display: none;
}

.nav-toggle-btn.active .nav-toggle-btn__hamburger-icon {
    display: none;
}

.nav-toggle-btn.active .nav-toggle-btn__cross-icon {
    display: initial;
    color: #fff;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.6rem;
    list-style: none;
}

.nav-list li:nth-child(2) {
    margin-left: 3rem;
}
.nav-list__link {
    display: inline-block;
    color: var(--typography_header);
    font-size: clamp(1rem, 1.5vw + 1rem, 1.3rem);
    white-space: nowrap;
    text-decoration: none;
    line-height: 1.8;
    position: relative;
}

.nav-list__link::before {
    content: '';
    position: absolute;
    bottom: -0.8rem;
    width: 95%;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    background-color: var(--underline);
    pointer-events: none;
    transition: bottom 400ms, background-color 250ms;
    border-radius: 1rem;
}

.user-panel {
    text-align: center;
    position: relative;
    padding: .4rem 1rem;
    border: 2px solid var(--darker-white);
    background-color: var(--bg);
    border-radius: .4rem;
    cursor: pointer;
    transition: filter 150ms;
}

.user-panel__user-name {
    user-select: none;
    color: var(--typography_header);
}

.user-panel__logout-btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    pointer-events: none;
    opacity: 0;
    border: none;
    background-color: var(--card);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding: .4rem 1rem;
    border-radius: .4rem;
    font-size: 1rem;
    color: var(--typography_header);
    cursor: pointer;
    border: 2px solid var(--darker-white);
    text-transform: capitalize;
    transition: filter 150ms, transform 200ms;
}

.user-panel__logout-btn.visible {
    pointer-events: auto;
    opacity: 1;
    transform: translate(-50%, 110%);
}

.user-panel__logout-btn:hover,
.user-panel:hover {
    filter: invert(0.05)
}

.nav-list__link:hover::before {
    bottom: -0.4rem;
    background-color: var(--underline-active);
}

@media (max-width: 700px) {
    .nav-list {
        position: fixed;
        top: 50%;
        left: 50%;
        height: 50vh;
        transform: translate(-50%, -50%);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        z-index: 3;
        pointer-events: none;
    }
    .nav-list li:nth-child(2) {
        margin: 0;
    }
    
    .nav-list__link {
        font-size: 2rem;
    }
    .nav-list li {
        opacity: 0;
        pointer-events: none;
        transform: translateY(-10px);
    }
    .nav-list.active .nav-list__link {
        color: #fff;
    }
    body.disabled .nav-toggle-btn {
        border: 2px solid var(--underline);
    }
    body.disabled .nav-toggle-btn:hover {
        background-color: var(--underline);
    }
    .nav-list.active li {
        color: #fff;
        pointer-events: auto;
        animation: originate 500ms var(--delay) forwards;
    }
    .nav-list.active .nav-list__link:hover::before {
        background-color: rgb(231, 231, 231);
    }
    @keyframes originate {
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
    .nav-toggle-btn {
        display: flex;
        z-index: 3;
    }
}

@media (max-width: 400px) {
    .navigation > a:first-child {
        display: none;
    }
}


