.dark {
    --bg: #242424;
    --bg-grey: rgb(61, 61, 61);
    --card: rgb(0, 0, 0); 
    --typography_header: rgb(255, 255, 255);
    --fade-white: rgb(138, 138, 138);
    --typography_desc: rgb(190, 190, 190);
    --nav-link: rgb(255, 255, 255);
    --nav-link-contrast: #000;
    --alpha: 0.3;
    --card-portfolio: rgb(34, 34, 34);
    --card-alpha: .2;
    --content-mutable: rgb(63, 63, 63);
    --buttons: rgba(0, 0, 0, 0.76);
    --position: left;
    --info: rgba(0, 0, 0, 0.4);
    --info-header: #fff;
    --info-content: rgb(39, 39, 39);
    --portfolio-shadow: rgba(0, 0, 0, .3);
    --ball: rgb(87, 87, 87);
    --bx-shadow: rgb(173, 173, 173);
    --card-bg: #222;
    --dark-grey: rgb(36, 36, 36);
    --invert: 0;
    --indicator: #fff;
    --underline: rgb(147 147 147 / 44%);
    --underline-active: rgba(255, 255, 255, 0.836);
    --card-shadow: rgba(0, 0, 0, 0.589);
    --darker-white: rgb(75, 75, 75);
    --footer-clr: rgb(65, 65, 65);
    --nav-btn: rgb(147 147 147 / 44%);
}

.light {
    --bg: #fff;
    --bg-grey: rgb(255, 255, 255);
    --card: rgb(255, 255, 255);
    --fade-white: rgb(134, 134, 134);
    --typography_header: rgb(0, 0, 0);
    --typography_desc: rgb(66, 66, 66);
    --nav-link: #000;
    --nav-link-contrast: #fff;
    --alpha: 0.3;
    --card-portfolio: rgb(245, 245, 245);
    --card-alpha: .4;
    --content-mutable: rgb(245, 245, 245);
    --buttons: #222;
    --position: center;
    --info: rgba(255, 255, 255, 0.7);
    --info-header: #000;
    --info-content: rgb(109, 109, 109);
    --portfolio-shadow: rgba(0, 0, 0, .3);
    --ball: rgb(235, 235, 235);
    --bx-shadow: rgba(182, 182, 182, 0.808);
    --card-shadow: rgb(216, 216, 216);
    --card-bg: rgba(255, 255, 255, 0.815);
    --dark-grey: rgba(255, 255, 255, 0.815);
    --invert: 1;
    --indicator: rgb(110, 110, 110);
    --underline: rgba(95, 95, 95, 0.562);
    --underline-active: rgb(59, 59, 59);
    --darker-white: rgb(221, 221, 221);
    --nav-btn: rgb(241, 241, 241);
}

body.disabled {
    overflow: hidden;
}

body.disabled::before {
    content: '';
    position: fixed;
    inset: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.932);
}

.theme-toggle-btn {
    width: 6.4rem;
    height: 50px;
    border-radius: 2rem;
    border: 3px solid #444;
    position: relative;
    background-color: transparent;
}

.theme-toggle-btn__dot {
    position: absolute;
    left: .25rem;
    top: 50%;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: #444;
    background-image: url('/src/assets/images/moon.svg');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: 50% 55%;
    cursor: pointer;
    transform: translateY(-50%);
    transition: height 200ms ease, left 400ms;
    z-index: 1;
}

.theme-toggle-btn__dot:active {
    height: 20px;
    border-radius: 1rem;
}

.theme-toggle-btn__dot.active {
    background-image: url('/src/assets/images/sun.svg');
    left: 3.4rem;
}