@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('../components/header.css');
@import url('../components/footer.css');
@import url(../components/Theme.css);

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html::-webkit-scrollbar {
    width: 0.8vw;
}
html::-webkit-scrollbar-thumb {
    background-color: rgb(49, 49, 49);
    border-radius: 10px;
}
html::-webkit-scrollbar-track {
    background-color: rgb(167, 167, 167);
}

.root {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    position: relative;
    z-index: 1;
    background-color: var(--bg);
    transition: background-color 500ms ease;
    overflow: hidden;
}

.root::before,
.root::after {
    content: '';
    position: fixed;
    width: 150px;
    height: 150px;
    -webkit-clip-path: circle(49.4% at 50% 51%);
    clip-path: circle(49.4% at 50% 51%);
    background-color: var(--ball);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px;
    animation: bouncing 10s infinite alternate ease;
    z-index: -1;
}

.root::before {
    bottom: 20vh;
    left: 2%;
    animation: originate 2s 1s forwards, bouncing 10s 1.5s infinite alternate ease;
    visibility: hidden;
    
}

@keyframes originate {
    to {
        visibility: visible;
    }
}

.root::after {
    top: 20vh;
    right: 2%;
    animation: bouncing 10s infinite alternate ease;
}

@keyframes bouncing {
    33% {
        transform: translateY(30vh);
    }
    66% {
        transform: translateY(-20vh);
    }
    100% {
        transform: translateY(20vh);
    }
    
}

@keyframes linkappear {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.card-container {
    margin: 0 auto;
    width: min(85%, 1500px);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 45px;
    font-family: 'Press Start 2P', sans-serif;
}

.card-container > a {
    text-decoration: none;
}

.card__item {
    background-color: var(--card-portfolio);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6.2px);
    border: 1px solid rgba(255, 255, 255, 0.404);
    padding: 20px;
    transition: .23s, background-color 300ms;
    cursor: pointer;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card__item:hover {
    background-color: var(--card-portfolio-active);
    box-shadow: 0 20px 30px var(--portfolio-shadow);
    backdrop-filter: blur(0);
}

.card__header {
    text-align: center;
    margin-bottom: 18px;
    font-size: clamp(1.5rem, 2vw, 2rem);
    background: rgba(255, 255, 255, 0.2);
    color: var(--typography_header);
    border: 1px solid rgba(255, 255, 255, 0.568);
    border-radius: 10px;
    padding: 15px 0;
    line-height: 1.3;
    transition: color 300ms;
}

.progress-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70px;
    background: rgba(255, 255, 255, 0.2);
    margin-bottom: 18px;
    padding: 10px;
    border-radius: 7px;
}

.progress-status {
    font-size: clamp(20px, 2vw, 28px);
    text-transform: uppercase;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    line-height: 1.4;
    letter-spacing: 1px;
    gap: 10px;
}

.completed {
    color: #0f0;
}

.non-completed {
    color: rgb(238, 255, 0)
}

.card__img {
    max-width: 100%;
    border-radius: 13px;
    object-fit: cover;
    aspect-ratio: 16 / 9;
    flex-grow: 1;
}

.fa-sync-alt,
.fa-check {
    margin-left: 15px;
    display: inline;
    color: rgb(255, 255, 255);
    font-size: 35px;
}