@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('../header.css');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

html::-webkit-scrollbar {
    width: 0.8vw;
}
html::-webkit-scrollbar-thumb {
    background-color: rgb(49, 49, 49);
    border-radius: 10px;
}
html::-webkit-scrollbar-track {
    background-color: rgb(167, 167, 167);
}

.root {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    width: 100vw;
    position: relative;
    z-index: 1;
    background-image: linear-gradient(-45deg, #222, #444);
    overflow-x: hidden;
    user-select: none;
}

.root::before {
    content: '';
    position: fixed;
    bottom: 20vh;
    left: 2%;
    width: 150px;
    height: 150px;
    background: rgba(255, 255, 255, 0.274);
    -webkit-clip-path: circle(49.4% at 50% 51%);
    clip-path: circle(49.4% at 50% 51%);
    filter: blur(200px);
    animation: bouncing 8s 1s infinite alternate ease;
}

.root::after {
    content: '';
    position: fixed;
    top: 20vh;
    right: 2%;
    width: 150px;
    height: 150px;
    background: rgba(255, 255, 255, 0.274);
    filter: blur(200px);
    -webkit-clip-path: circle(49.4% at 50% 51%);
    clip-path: circle(49.4% at 50% 51%);
    z-index: -1;
    animation: bouncing 8s infinite alternate ease;
}

@keyframes bouncing {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20vh);
    background: rgba(255, 255, 255, 0.7);
    }
    100% {
        transform: translateY(20vh);
        background: rgba(255, 255, 255, 0.2);
    }
    
}

@keyframes linkappear {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.card-container {
    margin: 70px auto 0 auto;
    width: min(85%, 1500px);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 45px;
    font-family: 'Press Start 2P', sans-serif;
}

.card__item {
    background: rgba(255, 255, 255, 0.16);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6.2px);
    border: 1px solid rgba(255, 255, 255, 0.404);
    padding: 20px;
    transition: .23s;
    cursor: pointer;
}

.card__item:hover {
    background: rgba(255, 255, 255, 0.295);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(0);
}

.card__header {
    text-align: center;
    margin-bottom: 18px;
    font-size: clamp(1.5rem, 2vw, 2rem);
    background: rgba(255, 255, 255, 0.2);
    color: rgb(255, 255, 255);
    border: 1px solid rgba(255, 255, 255, 0.568);
    border-radius: 10px;
    padding: 15px 0;
}

.progress-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70px;
    background: rgba(255, 255, 255, 0.2);
    margin-bottom: 18px;
    padding: 10px;
}

.progress-status {
    font-size: clamp(20px, 2vw, 28px);
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.completed {
    color: #0f0;
}

.non-completed {
    color: rgb(238, 255, 0)
}

.card__img {
    max-width: 100%;
    border-radius: 13px;
    object-fit: cover;
    aspect-ratio: 16 / 9;
}

.fa-sync-alt,
.fa-check {
    margin-left: 15px;
    display: inline;
    color: rgb(255, 255, 255);
    vertical-align: middle;
}

.footer {
    top: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    z-index: 2;
    background-color: rgb(39, 39, 39);
    padding: 20px 30px;
}

.footer__toggle {
    position: absolute;
    top: -30px;
    left: 30px;
    font-size: 24px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    width: 80px;
    height: 30px;
    cursor: pointer;
    outline: none;
    z-index: -1;
    background-color: rgb(199, 199, 199);
    border: none;
    border-radius: 8px 8px 0 0;
    user-select: none;
}

.footer.active {
    bottom: 0;
    top: auto;
    animation: footerappear 1s ease;
}

@keyframes footerappear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.content-left p {
    font-size: 25px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    max-width: 70%;
}

.content--separator {
    width: 3px;
    height: 100px;
    background-color: #fff;
}

.content-right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.content-right a:first-child img {
    width: 145px;
    transition: .4s ease;
}

.content-right img:hover:not(.discord-logo) {
    filter: invert(1);
}

.discord-logo {
    width: 200px;
}

@media screen and (max-width: 700px) {
    .footer {
        flex-direction: column;
        row-gap: 25px;
    }

    .content--separator {
        display: none;
    }

    .content-left p {
        max-width: 90%;
        margin: 0 auto;
        text-align: center;
    }
}