.dark {
    --bg: #242424;
    --bg-grey: rgb(61, 61, 61);
    --card: rgb(0, 0, 0); 
    --typography_header: #fff;
    --fade-white: rgb(138, 138, 138);
    --typography_desc: rgb(190, 190, 190);
    --nav-link: rgb(255, 255, 255);
    --nav-link-contrast: #000;
    --alpha: 0.3;
    --card-portfolio: rgba(255, 255, 255, 0.16);
    --card-portfolio-active: rgba(255, 255, 255, 0.27);
    --card-alpha: .2;
    --content-mutable: rgb(88, 88, 88);
    --buttons: rgba(0, 0, 0, 0.76);
    --position: left;
    --info: rgba(0, 0, 0, 0.4);
    --info-header: #fff;
    --info-content: rgb(39, 39, 39);
    --portfolio-shadow: rgba(0, 0, 0, .3);
    --ball: rgb(87, 87, 87);
    --bx-shadow: rgb(173, 173, 173);
    --card-bg: #222;
    --dark-grey: rgb(36, 36, 36);
    --invert: 0;
    --indicator: #fff;
}

.light {
    --bg: #fff;
    --bg-grey: rgb(255, 255, 255);
    --card: rgb(255, 255, 255);
    --fade-white: rgb(134, 134, 134);
    --typography_header: rgb(0, 0, 0);
    --typography_desc: rgb(66, 66, 66);
    --nav-link: #000;
    --nav-link-contrast: #fff;
    --alpha: 0.3;
    --card-portfolio: rgba(134, 134, 134, 0.973);
    --card-portfolio-active: rgba(134, 134, 134, 0.8);
    --card-alpha: .4;
    --content-mutable: rgb(219, 219, 219);
    --buttons: #222;
    --position: center;
    --info: rgba(255, 255, 255, 0.7);
    --info-header: #000;
    --info-content: rgb(109, 109, 109);
    --portfolio-shadow: rgba(0, 0, 0, .3);
    --ball: rgb(235, 235, 235);
    --bx-shadow: rgba(182, 182, 182, 0.808);
    --card-bg: rgba(255, 255, 255, 0.815);
    --dark-grey: rgba(255, 255, 255, 0.815);
    --invert: 1;
    --indicator: rgb(110, 110, 110);
}

.button-theme {
    width: 100px;
    height: 50px;
    border-radius: 50px;
    border: 3px solid #444;
    position: relative;
    pointer-events: none;
    flex-shrink: 0;
}

.button-theme__dot {
    cursor: pointer;
    pointer-events: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 200ms ease-in-out, transform 100ms ;
    color: #fff;
    overflow: hidden;
}

.button-theme__sun {
    display: none;
}

.button-theme__dot.active .button-theme__sun {
    display: inline;
}

.button-theme__dot.active .button-theme__moon {
    display: none;
}

#themeToggle,
#nav-toggle {
    position: absolute;
    left: -100px;
    z-index: -1;
}

#themeToggle:checked + .button-theme .button-theme__dot {
    left: 50px;
}

.button-theme__dot:active {
    height: 24px;
    transform: scaleX(1.2) translateY(-50%);
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(236, 236, 236);
    color: rgb(0, 0, 0)
}

.button-theme__moon,
.button-theme__sun {
    height: 30px;
}

ion-icon[name="moon-outline"],
ion-icon[name="sunny-outline"] {
    font-size: 30px;
    color: inherit;
}