.main__logo {
    max-width: 100%;
    height: 150px;
    animation: bounce 3s ease-in-out alternate infinite;
    fill: var(--typography_header);
    transition: fill 700ms ease;
    flex-shrink: 0;
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }
    66% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0px);
    }
}


.main__navigation {
    user-select: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 3% 0;
    z-index: 1;
    position: relative;
}
#themeToggle,
#navToggle {
    position: absolute;
    left: -100px;
    z-index: -2;
}

#themeToggle:checked + label .toggle__dot {
    left: 50px;
}

.toggleButton {
    width: 100px;
    height: 50px;
    border-radius: 50px;
    border: 3px solid #444;
    position: relative;
    pointer-events: none;
    flex-shrink: 0;
}

.toggleButton > .toggle__dot {
    cursor: pointer;
    pointer-events: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 200ms ease-in-out, transform 100ms ;
    color: #fff;
    overflow: hidden;
}

.toggleButton > .toggle__dot:active {
    height: 24px;
    transform: scaleX(1.2) translateY(-50%);
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(236, 236, 236);
    color: rgb(0, 0, 0)
}

.toggle__dot.active .moon {
    display: none;
}

.toggle__dot.active .sun {
    display: inline;
}

.moon,
.sun {
    height: 30px;
}

.sun {
    display: none;
}

ion-icon[name="moon-outline"],
ion-icon[name="sunny-outline"] {
    font-size: 30px;
    color: inherit;
}

.main__navigation ul {
    min-width: 260px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px;
}

.hamburger {
    display: none;
    cursor: pointer;
    margin-right: 10px;
}

.hamburger__prop {
    height: 4px;
    width: 36px;
    background-color: var(--info-header);
    border-radius: 5px;
    transition: .5s;
}

.hamburger__prop ~ .hamburger__prop {
    margin-top: 9px;
}

.hamburger.active .hamburger__prop {
    background-color: #fff;
}

.hamburger.active .prop1 {
    transform: rotate(-45deg) translate(-19px, 13px);
}

.hamburger.active .prop2 {
    opacity: 0;
} 

.hamburger.active .prop3 {
    transform: rotate(45deg) translate(-5px, 0);
}

.main__navigation .list__item {
    list-style: none;
    cursor: pointer;
    border-radius: 23px;
}

.main__navigation .list__item a {
    display: inline-block;
    color: var(--nav-link);
    font-size: 17px;
    width: 108px;
    padding: 12px 0;
    white-space: nowrap;
    text-align: center;
    transition: 0.5s;
    border: 2px dashed var(--nav-link);
    border-radius: 23px;
    position: relative;
    overflow: hidden;
    outline: none;
    text-decoration: none;
}

.list__item a:not(.home):hover {
    color: var(--nav-link-contrast);
    border: 2px solid transparent;
}

.home {
    width: 85px;
    background-color: #000;
    border-style: solid !important;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 23px;
    color: #fff !important;
}

.home:hover {
    transform: translateY(-5px);
}

.list__item:nth-child(3) a::before,
.list__item:nth-child(4) a::before {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 100%;
    z-index: -1;
    background-color: var(--nav-link);
    transition: 1s;
}

.list__item:nth-child(3):hover a::before,
.list__item:nth-child(4):hover a::before {
    width: 100%;
}

.list__item:nth-child(2) a::after,
.list__item:nth-child(3) a::after {
    content: "";
    position: absolute;
    height: 150%;
    width: 0;
    border-radius: 23px;
    background-color: var(--nav-link);
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    z-index: -1;
    transition: 0.65s;
}

.list__item:nth-child(3) a::after {
    transition: 1s;
}

.list__item:hover a::after {
    width: 100%;
}

.list__item:nth-child(4) a::before {
    transition: .65s;
}

.login {
    margin-left: 50px;
}

.login a:link {
    border: 2px solid var(--nav-link);
    width: 130px;
    letter-spacing: 3px;
}

.login a:hover {
    border: 2px solid transparent;
}

.login a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 0;
    background-color: var(--nav-link);
    z-index: -1;
    transition: 0.6s;
}

.login a:hover::before {
    height: 100%;
}

@media screen and (max-width: 700px) {
    .main__navigation {
        padding: 40px 0;
    }

    .list__item a:not(.home):hover {
        border: none
    }

    #navToggle:checked + .hamburger .hamburger__prop {
        background-color: #fff;
    }

    #navToggle:checked ~ ul {
        height: 65vh;
    } 

    #navToggle:checked ~ ul .list__item {
        animation: ShowUp 1.5s forwards;
        animation-delay: calc(var(--link-delay) * 2.4);
        opacity: 0;
    }

    .main__navigation ul {
        position: absolute;
        flex-direction: column;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
        background-color: rgb(32, 32, 32);
        height: 0;
        width: 100vw;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        overflow: hidden;
        transition: height .4s;
        row-gap: 15px;
    }

    .main__navigation .list__item {
        width: 50%;
        transition: .3s;
    }

    @keyframes ShowUp {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }
        50% {
            opacity: .5;
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .main__navigation .list__item a {
        display: block;
        border: none;
        width: 100%;
        padding: 20px 0;
        border-radius: 0;
        color: #fff;
    }

    .home {
        box-shadow: -10px 10px 15px 0 rgb(0, 0, 0);
        border-radius: 15px !important;
    }

    .login {
        margin: 0;
    }

    .hamburger {
        display: block;
        z-index: 1;
    }
}