.footer {
    width: 100%;
    display: flex;
    position: fixed;
    z-index: 1;
    top: 100vh;
    background-color: var(--nav-link);
    padding: 30px;
}

.footer-toggle {
    position: absolute;
    top: -30px;
    left: 30px;
    font-size: 23px;
    color: var(--nav-link-contrast);
    width: 80px;
    height: 30px;
    cursor: pointer;
    background-color: var(--info-header);
    border: none;
    border-bottom: 2px solid #000;
    border-radius: 10px 10px 0 0;
}

.footer-toggle__down-arrow {
    display: none;
}

.footer-toggle__up-arrow.active {
    display: none;
}

.footer-toggle__up-arrow.active + .footer-toggle__down-arrow {
    display: inline;
}

.footer.active {
    bottom: 0;
    top: auto;
}

.credentials {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.credential-info {
    flex-grow: 1;
    background-color: var(--card);
    border-radius: .55rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 0;
    transition: .3s ease;
}

.about-site.active {
    animation: PopUp 1.3s forwards;
}

@keyframes PopUp {
    to {
        transform: scale(1.04) translateY(-5px);
        box-shadow: 0 13px 20px 0px rgb(0, 0, 0);
    }
}

.credential-info:hover,
.credential-info:focus {
    transform: scale(1.03) translateY(-5px);
    box-shadow: 0 15px 20px 3px #000;
}

.credential-info__title {
    text-align: center;
    color: var(--info-header);
}

.credential-info__link {
    font-size: 26px;
    padding-top: 15px;
    text-align: center;
    text-decoration: underline;
    color: var(--typography_header);
    border-top: 3px solid var(--info-header);
}

.credential-info__link:hover {
    text-decoration: none;
}

.community-contents {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.tipply {
    min-width: 140px;
    transition: filter 400ms;
    fill: rgb(10, 236, 40);
}

.discord {
    width: 200px;
}

.aside {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateX(-101%) translateY(-50%);
    background-color: #ccc;
    border-radius: 0px 10px 10px 0px;
    transition: 400ms ease-in;
}

.aside-toggle {
    position: absolute;
    right: -25px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    height: 60px;
    width: 25px;
    background-color: rgb(12, 12, 12);
    outline: 2px solid rgba(255, 255, 255, 0.61);
    cursor: pointer;
    border-radius: 0px 10px 10px 0px;
    font-size: 22px;
}

.fa-chevron-right,
.fa-chevron-left {
    color: #fff;
}

.aside-toggle__back-arrow {
    display: none;
}

.aside-toggle.active .aside-toggle__forward-arrow {
    display: none;
}

.aside-toggle.active .aside-toggle__back-arrow {
    display: inline;
}

.aside.active {
    transform: translate(0, -50%);
}

.aside-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 8px 10px;
    position: relative;
}

.aside-links__link {
    cursor: pointer;
}

.fa-github,
.fa-reddit-alien,
.fa-stack-overflow {
    font-size: 35px;
    color: rgb(230, 230, 230);
    transition: 500ms ease;
}

.fa-stack-overflow {
    color: #E87922;
}

.fa-github {
    filter: invert(1);
}

.fa-reddit-alien {
    font-size: 40px;
    color: rgb(241, 67, 3);
}

.fa-github:hover,
.fa-reddit-alien:hover,
.fa-stack-overflow:hover {
    transform: translateY(-7px);
}