@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import './partials/navigation.css';
@import './partials/theme.css';
@import '../css/partials/modal.css';

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: var(--bg-grey);
    transition: background-color 500ms ease;
    font-family: 'Poppins', sans-serif;
}

.login-form {
    width: min(90%, 500px);
    padding: 1rem;
    background-color: var(--darker-black-white);
    box-shadow: 0 0 15px var(--outline);
    border-radius: 20px;
    border: 2px solid var(--darker-white);
    transition: transform 2s;
    margin-inline: auto;
    margin-bottom: 1.5rem;
    box-shadow: 0 0 20px var(--darker-white);
}

.login-form__title {
    text-align: center;
    color: var(--typography_header);
    font-size: 2rem;
}

.email-section,
.password-section {
    margin-top: 3rem;
    margin-inline: auto;
    position: relative;
    width: 90%;
}

.login-form__input-wrapper {
    min-height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    outline-offset: -2px;
    border-radius: 0.4rem;
}
.login-form__input-wrapper.focused {
    outline: 2px solid var(--typography_header);
}

.login-form__input-icon {
    padding: 0.5rem 0.8rem;
    border: 2px solid var(--darker-white);
    border-right: none;
    min-height: 50px;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    border-radius: 0.4rem 0 0 0.4rem;
    color: var(--typography_header);
}

.login-form__input {
    border: 2px solid var(--darker-white);
    width: min(90%, 400px);
    flex-grow: 1;
    font-size: 1.4rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    background-color: transparent;
    color: var(--typography_header);
    border-radius: 0 0.4rem 0.4rem 0;
    padding-left: 0.6rem;
    min-height: 50px;
    outline: none;
}

.login-form__input-password {
    padding-right: 3rem;
}

.password-section__show-password-btn {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1rem;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: transparent;
}

.password-section__show-password-btn.visible {
    display: inline;
}

.password-section__icon {
    color: var(--typography_header);
}

.password-section__eye-icon {
    display: none;
}

.password-section__show-password-btn.active .password-section__eye-icon {
    display: inline;
}

.password-section__show-password-btn.active .password-section__crossed-eye-icon {
    display: none;
}

.email-section__label,
.password-section__label {
    width: fit-content;
    display: block;
    color: var(--typography_header);
    font-size: 1.3rem;
    white-space: nowrap;
    margin-bottom: 0.4rem;
}

.submit-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
}

.form-login__submit {
    padding: 0.5rem 2rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    background-color: var(--darker-black-white);
    border: 2px solid var(--darker-white);
    color: var(--typography_header);
    border-radius: 0.6rem;
    transition: filter 200ms;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}

.form-login__submit:hover {
    filter: invert(0.05);
}

.other-options {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 0.3rem;
}

.other-options__link,
.other-options__reset-password-btn {
    text-decoration: none;
    text-align: center;
    color: var(--typography_header);
    font-size: clamp(1.05rem, 1vw + 0.5rem, 1.2rem);
    text-transform: capitalize;
}

.other-options__reset-password-btn {
    background-color: var(--darker-black-white);
    border: none;
    cursor: pointer;
    font-family: inherit;
    border: 2px solid var(--darker-white);
    padding: .1rem .45rem;
    border-radius: 1rem;
    transition: filter 150ms;
}

.other-options__reset-password-btn:hover {
    filter: invert(0.04)
}

.other-options__link:hover {
    text-decoration: underline;
}

.reset-password-intro {
    width: min(90%, 650px);
    border-radius: 1rem;
    margin-inline: auto;
    background-color: var(--darker-black-white);
    border: 2px solid var(--darker-white);
    padding: .5rem 1rem 2rem 1rem;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}

.reset-password-intro::backdrop {
    background-color: rgba(0, 0, 0, 0.76);
}

.reset-password-intro__close-modal {
    /* position: absolute; */
    margin-left: auto;
    display: block;
    top: 0.4rem;
    right: 0.8rem;
    font-size: 2.2rem;
    background-color: transparent;
    color: var(--typography_header);
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition: background-color 150ms;
}

.reset-password-intro__close-modal:hover {
    background-color: var(--darker-white);
}

.reset-password-intro__title {
    text-align: center;
    font-size: clamp(1.8rem, 1vw + 0.7rem, 2.5rem);
    font-weight: 500;
    color: var(--typography_header);
}

.reset-password-intro__desc {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 0.3rem;
    color: var(--typography_header);
}

.reset-password-form {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.4rem;
}

.reset-password-form__input-label {
    width: 90%;
    font-size: 1.3rem;
    color: var(--typography_header);
}

.reset-password-form__email-input {
    border-radius: 0.4rem;
    border: 2px solid var(--darker-white);
    outline: none;
    min-height: 50px;
    text-align: center;
    font-size: 1.8rem;
    transition: box-shadow 0.3s ease;
    width: 90%;
    margin-bottom: 1.3rem;
}

.reset-password-form__email-input:focus {
    outline: 2px solid rgb(11, 109, 255);
}

.reset-password-form__submit-btn {
    cursor: pointer;
    border: none;
    background-color: var(--darker-black-white);
    border: 2px solid var(--darker-white);
    padding: 0.4rem 1rem;
    border-radius: 0.4rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    text-transform: capitalize;
    transition: filter 150ms;
    color: var(--typography_header);
}

.reset-password-form__submit-btn:hover {
    filter: invert(0.04);
}
