@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('./partials/navigation.css');
@import url(./partials/theme.css);

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: var(--bg-grey);
    transition: background-color 500ms ease;
    font-family: 'Poppins', sans-serif;
}

.login-form {
    width: min(90%, 500px);
    padding: 1rem;
    background-color: var(--card);
    box-shadow: 0 0 15px var(--outline);
    border-radius: 20px;
    border: 2px solid var(--darker-white);
    transition: transform 2s;
    margin-inline: auto;
    margin-bottom: 1.5rem;
}

.login-form__title {
    text-align: center;
    color: var(--typography_header);
    font-size: 2rem;
}

.email-section,
.password-section {
    margin-top: 3rem;
    margin-inline: auto;
    position: relative;
    width: 90%;
}

.login-form__input-wrapper {
    min-height: 50px;
    display: flex;
    align-items: center;
}

.login-form__input-icon {
    padding: .5rem .8rem;
    border: 2px solid var(--darker-white);
    min-height: 50px;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    border-radius: .4rem 0 0 .4rem;
}

.login-form__input {
    border: 2px solid var(--darker-white);
    border-left: none;
    width: min(90%, 400px);
    flex-grow: 1;
    font-size: 1.4rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    background-color: transparent;
    color: var(--typography_header);
    border-radius: 0 .4rem .4rem 0;
    padding-left: .6rem;
    min-height: 50px;
}

.password-toggle {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    border: none;
    height: 45px;
    width: 45px;
    cursor: pointer;
    background: transparent;
}
.login-form__input:focus {
    border: 1px solid var(--typography_header);
    border-left-color: transparent;
}

.email-section__label,
.password-section__label {
    display: block;
    color: var(--typography_header);
    font-size: 1.3rem;
    white-space: nowrap;
    margin-bottom: .4rem;
}

.submit-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.form-login__submit {
    padding: 0.8rem 2.5rem;
    margin-bottom: 35px;
    font-size: 21px;
    background: var(--card);
    border: 2px solid var(--darker-white);
    color: var(--typography_header);
    border-radius: 1rem;
    transition: 0.4s ease, outline 0s;
    cursor: pointer;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}


.form-login__submit:hover {
    transform: scale(1.02);
}

.form-other {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    white-space: nowrap;
}

.form-other__option {
    text-decoration: none;
    color: var(--typography_header);
    transition: 200ms ease-in;
    font-size: clamp(17px, 1vw, 24px);
    font-weight: 500;
}

.register-option {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: 'Poppins';
}

.form-other__option:hover {
    color: var(--typography_header);
    transform: scale(1.05);
}