@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('./partials/navigation.css');
@import url('./partials/footer.css');
@import url(./partials/theme.css);

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html::-webkit-scrollbar {
    width: calc(0.5vw + 1rem);
}
html::-webkit-scrollbar-thumb {
    background-color: #9f9f9f;
    border-radius: 1rem;
    border: 5px solid #2e2e2e;
}
html::-webkit-scrollbar-thumb:active {
    background-color: #bbbbbb;
}
html::-webkit-scrollbar-track {
    background-color: #2e2e2e;
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background-color: var(--bg);
    transition: background-color 500ms ease;
}

.portfolio-title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
    color: var(--typography_header)
}

.portfolio-projects {
    max-width: min(90%, 1500px);
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1.5rem;
}

.portfolio-projects > a {
    text-decoration: none;
}

.portfolio-project {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--card-portfolio);
    border: 2px solid var(--darker-white);
    cursor: pointer;
    border-radius: 1rem;
    padding: 1rem;
    transition: filter 150ms, box-shadow 100ms;
}

.portfolio-project:hover {
    filter: invert(0.03);
    box-shadow: 0 0 15px var(--darker-white);
}

.portfolio-project__title {
    text-align: center;
    margin-bottom: 1.4rem;
    font-size: 2rem;
    color: var(--typography_header);
    border: 2px solid var(--darker-white);
    border-radius: .6rem;
    padding: .8rem;
}

.portfolio-project__img {
    max-width: 100%;
    border-radius: 1rem;
    height: 100%;
    object-fit: cover;
    border: 2px solid var(--darker-white)
}