@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import '../css/partials/theme.css';
@import '../css/partials/navigation.css';
@import '../css/partials/modal.css';

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: var(--bg-grey);
    transition: background-color 500ms ease;
    font-family: 'Poppins', sans-serif;
}

.register-form {
    width: min(90%, 550px);
    min-height: 550px;
    margin-inline: auto;
    background-color: var(--darker-black-white);
    box-shadow: 0 0 25px var(--darker-white);
    border: 2px solid var(--darker-white);
    border-radius: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
    padding: 1.7rem;
}

.register-form__title {
    color: var(--typography_header);
    letter-spacing: 1px;
}

.input-container {
    width: min(90%, 400px);
}

.input-container__label {
    display: inline-block;
    color: var(--typography_header);
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: .3rem;
}

.input-container__input {
    font-family: 'Poppins', sans-serif;
    border: none;
    border: 2px solid var(--darker-white);
    width: 100%;
    min-height: 45px;
    font-size: 1.75rem;
    background-color: var(--card);
    color: var(--typography_header);
    text-align: center;
    outline: none;
    border-radius: 0.2rem;
}

.input-container__input:focus {
    border-color: var(--outline)
}

.register-form__register-button {
    padding: 0.6rem 2rem;
    background-color: var(--card);
    color: var(--typography_header);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 22px;
    letter-spacing: 2px;
    border: 2px solid var(--darker-white);
    cursor: pointer;
    border-radius: 10px;
    transition: filter 200ms, box-shadow 150ms;
    text-transform: capitalize;
}

.register-form__register-button:hover {
    filter: invert(0.04);
    box-shadow: 0 0 15px var(--darker-white);
}