@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('./partials/navigation.css');
@import url('./partials/footer.css');
@import url(./partials/theme.css);

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: calc(0.5vw + 1rem);
}
html::-webkit-scrollbar-thumb {
    background-color: #9f9f9f;
    border-radius: 1rem;
    border: 5px solid #2e2e2e;
}
html::-webkit-scrollbar-thumb:active {
    background-color: #bbbbbb;
}
html::-webkit-scrollbar-track {
    background-color: #2e2e2e;
}

body {
    min-height: 100vh;
    background-color: var(--bg);
    font-family: 'Poppins', sans-serif;
    transition: background-color 500ms;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.available-tips-intro {
    max-width: 90%;
    margin: 6rem auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.6rem;
}

.available-tips-intro__tip-section_link {
    color: initial;
    text-decoration: none;
}

.tip-section-info {
    background-color: var(--darker-black-white);
    border-radius: 1rem;
    padding: 1rem;
    max-width: 380px;
    transition: 300ms, background-color 300ms;
    cursor: pointer;
    box-shadow: 0 0 5px 0 var(--darker-white);
    height: 100%;
    border: 2px solid var(--darker-white);
}

.tip-section-info:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 15px 0 var(--darker-white);
}

.tip-section-info:active {
    filter: invert(0.04);
}

.tip-section-info__title {
    font-size: 2.1rem;
    font-weight: 600;
    color: var(--typography_header);
}

.tip-section-info__desc {
    color: var(--typography_desc);
    font-size: 1.3rem;
}

.fa-square-js,
.fa-flask,
.fa-code {
    float: right;
    font-size: 2.8rem;
    color: rgb(252, 228, 53);
}

.fa-flask {
    color: rgba(225, 0, 255, 0.801);
}

.fa-code {
    color: rgb(25, 180, 108);
}

.tips-section {
    display: none;
    padding-block: 2.5rem;
    background-color: var(--content-mutable);
    min-height: 100vh;
    transition: background-color 700ms;
    border-top: 2px solid var(--darker-white);
}

.tips-section.active {
    display: block;
}

.tips-section.active .card-tip {
    animation: tipOriginate 1.5s ease-in-out calc(var(--tipCard-delay) * 0.5) forwards;
}

@keyframes tipOriginate {
    50% {
        opacity: 0.7;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.tips-section__intro {
    max-width: 90%;
    margin-inline: auto;
}

.tips-section__intro-title {
    font-size: 45px;
    font-weight: 900;
    text-align: center;
    color: var(--typography_header);
}

.header-intro__desc {
    margin-top: 30px;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    color: var(--typography_desc);
}

.tips-content {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 50px;
}

.card-tip {
    opacity: 0;
    transform: scale(0.2);
}

.fa-arrow-circle-left {
    font-size: 50px;
    transition: 500ms;
    cursor: pointer;
    color: var(--nav-link);
}

.tip-card_hide {
    display: none;
}

.tip-card_hide.active {
    display: inline;
    color: var(--typography_header);
}

.fa-arrow-circle-left:hover {
    transform: translateY(-5px);
}

.container-tips {
    margin-top: 40px;
    width: 90%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.container-tips__tip.hide {
    display: none;
}

.card-tip__button,
.card-tip__add-tip-btn {
    font-family: 'Poppins', sans-serif;
    padding: 1rem 1.4rem;
    background-color: var(--darker-black-white);
    border-radius: 0.4rem;
    border: 2px solid var(--darker-white);
    color: var(--typography_header);
    transition: transform 300ms, border-color 200ms, filter 200ms;
    cursor: pointer;
    height: 100%;
    min-height: 120px;
    max-width: 400px;
    width: 100%;
    font-size: 1.4rem;
    letter-spacing: 1px;
    font-weight: 500;
}

.card-tip__add-tip-btn {
    text-transform: capitalize;
    width: 100%;
    color: var(--typography_header);
    border: 2px solid var(--darker-white);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1.4rem;
    padding: 1.4rem;
}

.card-tip__add-tip-btn > i {
    font-size: 2.5rem;
}

.card-tip__add-tip-btn:hover {
    filter: brightness(1.1);
    transform: scale(0.95);
}

.add-tip-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
    width: min(90%, 600px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem 1.5rem;
    border: 2px solid var(--darker-white);
    background-color: var(--card);
    border-radius: 0.4rem;
}

.add-tip-modal_cancel-action {
    display: block;
    margin-left: auto;
    font-size: 2rem;
    color: var(--typography_header);
    cursor: pointer;
    border: 2px solid var(--darker-white);
    background-color: var(--card);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.4rem;
}

.add-tip-modal_cancel-action:hover {
    filter: invert(0.04);
}

.add-tip-modal__title {
    color: var(--typography_header);
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
}

.add-tip-form,
.add-tip-form__input-container {
    margin-top: 2.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}

.add-tip-form__input-container {
    margin-top: 0;
    gap: 0;
}

.add-tip-form__input-label {
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
}

.add-tip-form__input {
    display: block;
    width: 100%;
    min-height: 45px;
    border: 2px solid var(--darker-white);
    border-radius: 0.4rem;
    font-size: 1.4rem;
    font-family: 'Poppins', sans-serif;
    padding-inline: 0.4rem;
}

.add-tip-form__input:focus {
    outline: 2px solid rgb(16, 167, 255);
}

.add-tip-form__submit {
    font-family: 'Poppins', sans-serif;
    display: block;
    margin-inline: auto;
    padding: 0.4rem 1rem;
    background-color: var(--darker-black-white);
    border-radius: 0.4rem;
    border: 2px solid var(--darker-white);
    color: var(--typography_header);
    transition: transform 300ms, border-color 200ms, filter 200ms;
    cursor: pointer;
    max-width: 400px;
    font-size: 1.8rem;
    text-transform: capitalize;
    font-weight: 500;
}

.card-tip__button:hover,
.card-tip__button:focus {
    transform: translateY(-8px) scale(1.04);
    border-color: var(--typography_header);
}

.card-tip__button:active,
.add-tip-form__submit:hover {
    filter: invert(0.04);
}

.hidden-content {
    display: none;
}

.hidden-content__text {
    background-color: var(--darker-black-white);
    text-align: center;
    padding: 0.7rem 1rem;
    font-size: 1.5rem;
    border-radius: 0.6rem 0.6rem 0 0;
    border: 2px solid var(--darker-white);
    font-weight: 600;
    border-bottom: none;
    color: var(--typography_header);
}

.hidden-content__iframe {
    min-height: 500px;
    border-radius: 0 0 0.2rem 0.2rem;
}

.card-tip.active .card-tip__button {
    display: none;
}

.card-tip.active {
    width: 100%;
}

.card-tip.hide {
    display: none;
}

.card-tip.active .hidden-content {
    display: flex;
    flex-direction: column;
}

.availability-section {
    min-height: 100vh;
    display: none;
    background-image: linear-gradient(-45deg, var(--typography_header), var(--nav-link-contrast));
    background-size: 200% auto;
    background-position: var(--position);
    padding: 50px 0;
    transition: background-position 1s ease;
}

.availability-section.active {
    display: block;
}

.availability-section.active .availability-item {
    animation: ShowUp 2s ease forwards;
    animation-delay: calc(var(--availability-item-delay) * 0.5);
}

@keyframes ShowUp {
    from {
        transform: translateY(40px);
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.availability-content {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 50px;
}

.availability-item {
    opacity: 0;
    background-image: linear-gradient(45deg, var(--info), #b6b6b6);
    background-size: 200% auto;
    background-position: left;
    border-radius: 25px;
    transition: 0.3s;
    padding: 0 20px;
}

.availability-item__header {
    position: relative;
    padding: 20px 0;
}

.availability-item__title {
    font-size: 35px;
    text-align: center;
    color: var(--info-header);
    font-weight: 700;
}

.availability-content_expander {
    position: absolute;
    top: 30px;
}

.fa-sort-down,
.fa-sort-up {
    cursor: pointer;
    font-size: 35px;
    color: var(--typography_header);
}

.fa-sort-up {
    display: none;
}

.availability-content_expander.active .fa-sort-down {
    display: none;
}

.availability-content_expander.active .fa-sort-up {
    display: inline;
}

.availability-info {
    max-height: 0;
    overflow: hidden;
    border-radius: 15px;
    background-color: var(--info-content);
    padding: 0 20px;
    transition: max-height 0.3s;
}

.availability-info__title {
    font-size: 30px;
    color: var(--typography_header);
    text-align: center;
    padding: 20px 0;
    position: relative;
}

.availability-info__title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    height: 2px;
    box-shadow: 0 8px 15px 2px #fff;
    border-radius: 5px;
}

.browsers-container {
    margin: 40px auto 20px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 30px;
    border: 2px solid #444;
    border-radius: 10px;
    padding: 30px 10px;
    align-items: center;
}

.browser-cell {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.browser-cell__version {
    font-size: 27px;
    font-weight: 700;
    letter-spacing: 2px;
    color: rgb(15, 214, 15);
    text-align: center;
}

.browser-cell__version.not-supported {
    color: #f00;
    font-size: clamp(20px, 1.2vw, 23px);
}

.browser-cell__title {
    color: var(--typography_header);
    font-size: 26px;
    text-align: center;
}

.fa-firefox-browser,
.fa-chrome,
.fa-edge,
.fa-internet-explorer,
.fa-opera,
.fa-safari {
    font-size: 45px;
    margin: 0 auto;
}
