@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("./components/header.css");
@import url("./components/footer.css");
@import url(./components/Theme.css);

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 1vw;
}
html::-webkit-scrollbar-thumb {
    background-color: rgb(49, 49, 49);
    border-radius: 10px;
}
html::-webkit-scrollbar-track {
    background-color: rgb(167, 167, 167);
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    background-color: var(--bg);
    font-family: "Poppins", sans-serif;
    transition: background-color 500ms;
}

.main {
    max-width: 90%;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.main > a {
    color: initial;
    text-decoration: none;
}

.main-card {
    background-color: var(--card);
    border-radius: 20px;
    padding: 5%;
    max-width: 380px;
    min-width: 305px;
    transition: 600ms ease, background-color 800ms;
    cursor: pointer;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.589);
    position: relative;
    height: 100%;
}

.main-card:hover,
.main-card:focus {
    transform: translateY(-20px);
    box-shadow: 0 0 25px 2px #000;
}

.main-card:active {
    transform: scale(0.95);
}

.main-card__title {
    font-size: 2.1rem;
    font-weight: 600;
    color: var(--typography_header);
}

.main-card__desc {
    color: var(--typography_desc);
    font-size: 1.3rem;
}

.fa-universal-access,
.fa-flask {
    float: right;
    font-size: 45px;
    color: #3a71b7;
    transition: 0.5s;
}

.fa-flask {
    color: rgba(225, 0, 255, 0.801);
    top: 10px;
    right: 10px;
}

.light-bulb {
    position: absolute;
    width: 60px;
    top: 10px;
    right: 5px;
    transition: 0.5s;
}

.main-card:hover .fa-universal-access,
.main-card:hover .light-bulb,
.main-card:hover .fa-flask {
    transform: rotate(90deg);
}

.tips-section {
    display: none;
    padding: 3% 0;
    background-color: var(--content-mutable);
    min-height: 100vh;
    transition: background-color 700ms;
}

.tips-section.active {
    display: block;
}

.tips-section.active .card-tip {
    animation: tipOriginate .6s ease-in calc(var(--tipCard-delay) * 1) forwards;
    animation-iteration-count: 1;
}

@keyframes tipOriginate {
    0% {
        transform: scale(.3) translateY(50px);
        opacity: .2;
    }
    100% {
        transform: scale(1) translateY(0);
        opacity: 1;
    }

}

.header-intro {
    max-width: 85%;
    margin: 0 auto;
}

.header-intro__title {
    font-size: 45px;
    font-weight: 900;
    text-align: center;
    color: var(--typography_header);
}

.header-intro__desc {
    margin-top: 30px;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    color: var(--typography_desc);
}

.tips-content {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 50px;
}

.card-tip {
    transform: scale(0);
}

.fa-arrow-circle-left {
    font-size: 50px;
    transition: 500ms;
    cursor: pointer;
    color: var(--nav-link)
}

.tip-card_hide {
    display: none;
}

.tip-card_hide.visible {
    display: inline;
}

.fa-arrow-circle-left:hover {
    color: rgba(0, 0, 0, 0.644);
    transform: rotate(360deg);
}

.container-tips {
    margin-top: 40px;
    width: min(80%, 1400px);
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    gap: 45px 30px;
}

.container-tips__tip.hide {
    display: none;
}

.card-tip__button {
    padding: 1rem 1.4rem;
    background-color: var(--buttons);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    border: none;
    font-family: 'Poppins', sans-serif;
    transition: 300ms ease, background-color 700ms, outline 0s;
    cursor: pointer;
    height: 100%;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.86);
    min-height: 120px;
    max-width: 350px;
    font-size: 22px;
    letter-spacing: 1px;
    font-weight: 700;
}

.card-tip__button:hover,
.card-tip__button:focus {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.86);
    transform: translateY(-8px) scale(1.05);
    outline: 2px solid #fff
}

.card-tip__button:active {
    background-color: rgb(129, 129, 129);
}

.hidden-content {
    display: none;
}

.hidden-content__text {
    background-color: var(--typography_header);
    text-align: center;
    padding: 10px;
    color: var(--nav-link-contrast);
    font-size: 24px;
    border-radius: 20px 20px 0 0;
    transition: background-color 400ms, color 600ms;
    font-weight: 600;
}

.hidden-content__iframe {
    min-height: 500px;
    border-radius: 0 0 10px 10px;
}

.card-tip.active .card-tip__button {
    display: none;
}

.card-tip.active {
    width: 100%;
}

.card-tip.hide {
    display: none;
}

.card-tip.active .hidden-content {
    display: flex;
    flex-direction: column;
}

.availability-section {
    min-height: 100vh;
    display: none;
    background-image: linear-gradient(-45deg, var(--typography_header), var(--nav-link-contrast));
    background-size: 200% auto;
    background-position: var(--position);
    padding: 50px 0;
    transition: background-position 1s ease;
}

.availability-section.active {
    display: block;
}

.availability-section.active .availability-item {
    animation: ShowUp 2s ease forwards;
    animation-delay: calc(var(--availability-item-delay) * 0.5);
}

@keyframes ShowUp {
    from {
        transform: translateY(40px);
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.availability-content {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 50px;
}

.availability-item {
    opacity: 0;
    background-image: linear-gradient(45deg, var(--info), #b6b6b6);
    background-size: 200% auto;
    background-position: left;
    border-radius: 25px;
    transition: 0.3s;
    padding: 0 20px;
}

.availability-item__header {
    position: relative;
    padding: 20px 0;
}

.availability-item__title {
    font-size: 35px;
    text-align: center;
    color: var(--info-header);
    font-weight: 700;
}

.availability-content_expander {
    position: absolute;
    top: 30px;
}

.fa-sort-down,
.fa-sort-up {
    cursor: pointer;
    font-size: 35px;
    color: var(--typography_header);
}

.fa-sort-up {
    display: none;
}

.availability-content_expander.active .fa-sort-down {
    display: none;
}

.availability-content_expander.active .fa-sort-up {
    display: inline;
}

.availability-info {
    max-height: 0;
    overflow: hidden;
    border-radius: 15px;
    background-color: var(--info-content);
    padding: 0 20px;
    transition: max-height 0.3s;
}

.availability-info__title {
    font-size: 30px;
    color: var(--typography_header);
    text-align: center;
    padding: 20px 0;
    position: relative;
}

.availability-info__title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    height: 2px;
    box-shadow: 0 8px 15px 2px #fff;
    border-radius: 5px;
}


.browsers-container {
    margin: 40px auto 20px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 30px;
    border: 2px solid #444;
    border-radius: 10px;
    padding: 30px 10px;
    align-items: center;
}

.browser-cell {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.browser-cell__version {
    font-size: 27px;
    font-weight: 700;
    letter-spacing: 2px;
    color: rgb(15, 214, 15);
    text-align: center;
}

.browser-cell__version.not-supported {
    color: #f00;
    font-size: clamp(20px, 1.2vw, 23px);
}

.browser-cell__title {
    color: var(--typography_header);
    font-size: 26px;
    text-align: center;
}

.fa-firefox-browser,
.fa-chrome,
.fa-edge,
.fa-internet-explorer,
.fa-opera,
.fa-safari {
    font-size: 45px;
    margin: 0 auto;
}

.aside {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateX(-101%) translateY(-50%);
    background-color: #ccc;
    border-radius: 0px 10px 10px 0px;
    transition: 400ms ease-in;
}

.aside-toggle {
    position: absolute;
    right: -25px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    height: 60px;
    width: 25px;
    background-color: rgb(12, 12, 12);
    outline: 2px solid rgba(255, 255, 255, 0.61);
    cursor: pointer;
    border-radius: 0px 10px 10px 0px;
    font-size: 22px;
}

.fa-chevron-right,
.fa-chevron-left {
    color: #fff;
}

.aside-toggle__back-arrow {
    display: none;
}

.aside-toggle.active .aside-toggle__forward-arrow {
    display: none;
}

.aside-toggle.active .aside-toggle__back-arrow {
    display: inline;
}

.aside.active {
    transform: translate(0, -50%);
}

.aside-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 8px 10px;
    position: relative;
}

.aside-links__link {
    cursor: pointer;
}

.fa-github,
.fa-reddit-alien,
.fa-stack-overflow {
    font-size: 35px;
    color: rgb(230, 230, 230);
    transition: 500ms ease;
}

.fa-stack-overflow {
    color: #E87922;
}

.fa-github {
    filter: invert(1);
}

.fa-reddit-alien {
    font-size: 40px;
    color: rgb(241, 67, 3);
}

.fa-github:hover,
.fa-reddit-alien:hover,
.fa-stack-overflow:hover {
    transform: translateY(-7px);
}